//
//    CholChording - A chorded keyboard layout configurator and typing trainer
//        (c) Copyright 2024 Joel Lienhard (choltreppe)
//
//    See the file "LICENSE.txt", included in this
//    distribution, for details about the copyright.
//

@import 'vars'


#stage-overview
  align-self: center
  $height: $head-height*0.6
  height: $height
  display: flex

  .stage
    position: relative
    display: flex
    align-items: center
    padding-right: 1.6vmin
    padding-left: 1.6vmin + $height/2
    margin-left: $height/2
    font-weight: 200

    &::before, &::after
      content: ""
      display: block
      position: absolute
      border: solid ($height/2) transparent
      top: 0

    &::before
      border-left-color: $color-ground
      left: 0
    
    &::after
      right: 0
      transform: translateX(100%)
  
    @mixin stage-color($color)
      background-color: $color
      &::after
        border-left-color: $color

    @include stage-color($color-element-subtle)

    &.selected
      @include stage-color($color-element-strong)
      font-weight: normal
    
    &.disabled
      color: $color-element-strong

    &:not(.selected, .disabled):hover
      cursor: pointer


#thumb-keys-count-config
  display: flex
  flex-direction: column
  align-items: flex-start
  
  > button
    align-self: flex-end
    margin-top: 8vh
  
#basic-key-config
  align-self: center
  margin-bottom: 14%
  display: flex
  flex-direction: column

  > .info-box
    align-self: flex-start
    margin-bottom: 6vh

  > button
    align-self: flex-end
    margin-top: 8vh

#chord-config

  #chords
    display: flex
    flex-direction: row
    flex-wrap: wrap
    //justify-content: center

    > *
      margin: 1.8vmin

    .chord
      position: relative
      display: flex
      flex-direction: row
      align-items: center
      padding: 2vmin 3.2vmin
      border: solid 1px $color-element-strong
      border-radius: 2vmin

      .out-key
        width: 6vmin
        height: 4vmin
        margin-right: 1.2vmin
        font-size: $font-size-medium
        font-weight: bold
        caret-color: transparent

      .key.labeled:hover
        cursor: auto
        outline: none

      button.close
        position: absolute
        right: 1vmin
        top: -1.5vmin

      &.error-in-keys, &.error-out-key
        border-color: $color-error-outline

      &.error-in-keys .key.pressed
        background-color: $color-error-ground
        > div
          background-image: linear-gradient(transparent, $color-error-outline)

      &.error-out-key .out-key
        background-color: $color-error-ground
  
    > button.small
      align-self: center
      margin-left: 4.2vmin

#pin-config
  align-self: center
  display: flex
  flex-direction: column
  align-items: stretch

  > .pins
    display: flex
    align-items: flex-end

    > .row-labels
      display: flex
      flex-direction: column
      align-items: flex-end
      width: 0
      white-space: nowrap
      overflow: visible

      > div
        color: $color-element-strong
        margin-right: 1vmin
        // positioning hardcoded (not so elegant :/ but it works)
        &:first-child
          margin-bottom: 3.8vmin
        &:last-child
          margin-bottom: 2.2vmin
 
  .hand
    align-items: stretch

    > div
      align-items: stretch
      display: flex
      flex-direction: column
      align-items: center

      > .line
        width: 1px
        min-height: 4vmin
        flex: 1
        background-color: $color-element-strong

      > input[type="text"]
        box-sizing: border-box
        width: $key-size
        padding: 1vmin

      > .connected-to-level
        width: $key-size
        display: flex
        flex-direction: column
        align-items: stretch
        margin-top: 1.4vmin

        > button
          padding: 0.6vmin 0
          color: $color-highlight
          font-size: $font-size-small
          font-weight: normal
          &.selected
            background-color: $color-element-strong
            font-weight: bold

        > :first-child
          border-bottom-left-radius: 0
          border-bottom-right-radius: 0

        > :last-child
          border-top-left-radius: 0
          border-top-right-radius: 0