//
//    CholChording - A chorded keyboard layout configurator and typing trainer
//        (c) Copyright 2024 Joel Lienhard (choltreppe)
//
//    See the file "LICENSE.txt", included in this
//    distribution, for details about the copyright.
//

@import 'vars'


#typing-practice-main-menu
  align-self: center
  display: flex
  flex-direction: column
  align-items: center

  > .info-box
    margin-top: 8vh
    display: flex
    flex-direction: column
    
    > .button
      align-self: flex-end
      margin-top: 2vmin

#open-lesson-select
  align-self: center
  @each $dim in [width, height]
    #{$dim}: 0.6*$head-height
  margin-left: 0.2*$head-height
  background: url(img/menu.svg) center no-repeat
  background-size: contain
  @include recolor($color-on-ground)
  &:hover
    cursor: pointer
    
#typing-practice-select
  width: 80%
  display: flex
  align-items: stretch
  flex-wrap: wrap

  > div
    display: flex
    flex-direction: column
    align-items: center
    margin: 2vmin
    padding: 2vmin
    border-radius: 2.4vmin
    background-color: $color-element-subtle
    &:hover
      cursor: pointer
      outline: solid 1px $color-on-ground

    > .title
      font-size: $font-size-big
      font-weight: 200
      text-transform: uppercase

    > .hand
      margin: 0 !important

.practice-text
  align-self: center
  display: flex
  flex-direction: column
  align-items: center

  > .text
    max-width: 75vmax
    align-self: stretch
    display: flex
    flex-wrap: wrap
    align-items: stretch
    margin-bottom: 16vh

    > *
      display: flex
      flex-wrap: wrap

      > .symbol
        font-size: 3vmin
        padding: 0.3vmin 0.5vmin
        margin-bottom: 0.3vmin
        margin-right: 2px
        border-bottom: solid 0.3vmin transparent
        
        &.cursor
          border-color: $color-element-strong
          background-color: $color-element-subtle

        &.failed
          background-color: $color-error-ground

#lesson-stats
  align-self: center
  display: flex
  flex-direction: column

  > button
    align-self: flex-end
    margin-top: 6vmin